<section>
  <div>
    <h1>Contact</h1>
    <p>Alexandra Deaconu <br>
        Email: <a href="mailto:alexandraa.deaconu@gmail.com">alexandraa.deaconu&#64;gmail.com</a>
      </p>
    <h1>OR</h1>
    <p>Get in touch with me vie social media</p>
  </div>

  <ul>
    <li>
      <a href="https://github.com/aledeaconu"
        ><img src="../../../assets/img/github-icon.png" alt="Image 1"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/aledeaconu/">
        <img src="../../../assets/img/instagram-icon.png" alt="Image 3" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/alexandra-deaconu">
        <img src="../../../assets/img/linked-in-icon.png" alt="Image 2" />
      </a>
    </li>
  </ul>
</section>
