section {

  .mdc-floating-label,
  .mat-mdc-floating-label {
    padding-top: 100px !important;
  }
  .contact-container {
    width: 100%;
   // padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    span {
      padding-left: 2vw;
    }
  }
  .contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 1vw;
    margin-top: 20px;
  }
}
.contact-text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 2rem;
  flex-direction: column;
  line-height: normal;
  text-align: justify;
  order: 1;
  

  p {
    width: 70%;
  }
  p:nth-child(2) {
    color: #17b4be;
    font-weight: 700;
  }
}
.socials-responsive {
  order: 2;
}
.contact-options-form {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  height: fit-content;

  .contact-form {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    border: 1px solid #ffffff21;
    border-radius: 25px;
    width: 45%;
    height: 100%;
    padding: 1rem;

    .btn {
      margin-top: 0;
      &.disabled-btn{
        background: gray;
        &:hover {
          transform: scale(1);
          cursor: pointer
        }
      }
     
      
    }

    p {
      margin: 0
    }

    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 1rem;
    }
    a {
      text-decoration: none;
      color: #17b4be;
      &:hover {
        text-decoration: underline;
      }
    }
    input[type="checkbox"] {
      cursor: pointer;
      background-color: #17b4be;
    }
  }

  mat-form-field {
    width: 100%;
  }
  mat-checkbox {
    --mdc-checkbox-selected-focus-icon-color: #17b4be;
    --mdc-checkbox-selected-hover-icon-color: #17b4be;
    --mdc-checkbox-selected-icon-color: #17b4be;
    --mdc-checkbox-selected-pressed-icon-color: #17b4be;
    --mdc-checkbox-selected-focus-state-layer-color: #17b4be;
    --mdc-checkbox-selected-hover-state-layer-color: #17b4be;
    --mdc-checkbox-selected-pressed-state-layer-color: #17b4be;
    --mdc-checkbox-checked-color: #17b4be;
    --mdc-checkbox-unchecked-color: #17b4be;
    --mdc-checkbox-background-color: #dd3434 !important ;
    --mdc-checkbox-unselected-focus-icon-color: white;
    --mdc-checkbox-unselected-icon-color: white;
    --mdc-checkbox-unselected-hover-icon-color: rgb(148, 144, 144);

    margin-bottom: 20px;

    p {
      color: white;
      font-size: 1rem;
    }
  }

  .privacy-error {
    margin-bottom: 1rem;
    span {
      font-size: 0.88rem;
      opacity: 0.6;
    }
  }
}

.contact-options-social {
  order: 4;
  width: 100%;
  display: flex;
  align-items: baseline;

  .socials-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .socials {
      .content {
        float: left;
        width: 5rem;
        height: 216px;
        box-sizing: border-box;
        position: relative;

        h1 {
          font-family: "libre";
          text-transform: uppercase;
          top: 0;
          bottom: 0;
          left: 30px;
          right: 0;
          margin: auto;
          position: absolute;
          height: 150px;
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
  }

  .socials-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 

    a {
      position: relative;
      display: inline-block;

      &:nth-child(1) {
        position: absolute;
      top: 80%;
        left: 53%;
    

        &:hover {
          transform: rotate(5deg);
        }
      }

      &:nth-child(2) {
        position: absolute;
        top: 70%;
        left: 58%;


        &:hover {
          transform: rotate(5deg);
        }
      }

      &:nth-child(3) {
        position: absolute;
        top: 80%;
        left: 63%;
     

        &:hover {
          transform: rotate(5deg);
        }
      }

      

        &:hover {
          transform: rotate(6deg);
        }
      }

      img {
        width: 5rem;
        height: auto;
        animation: float 2s ease-in-out infinite;


       
      }
    }
  }

  .arrow {
    position: relative;
    margin: 0 auto;
    width: 10vw;

    .curve {
      border: 0.2vw solid #17b4be;
      border-color: transparent transparent transparent #17b4be;
      height: 18rem;
      width: 12rem;
      border-radius: 15rem 0 0 10rem;
      z-index: 1;
    }

    .point {
      position: absolute;
      left: 2.01rem;
      top: 15.8rem;

      &:before,
      &:after {
        border: 0.1vw solid #17b4be;
        height: 1.5vw;
        content: "";
        position: absolute;
        z-index: 2;
      }

      &:before {
        top: -0.7vw;
        left: -0.7vw;
        transform: rotate(-74deg);
      }

      &:after {
        top: -1.2vw;
        left: 0.3vw;
        transform: rotate(12deg);
      }
    }
  }



/* Responsive Styles */
@media (min-width: 6500px) {
  .contact-options-social{
    .socials-icons { 
      padding-left: 35% ;
    padding-top: 0% ;
   
    }
   }

}
@media (min-width: 3400px) and (max-width: 6499px) {
  .contact-options-social{
    .socials-icons { 
      padding-left: 20% ;
    padding-top: 0% ;


    }
    }
   }
   



@media (min-width: 1920px) and (max-width: 3399px) {
  .contact-options-social{
    .socials-icons {
      padding-left: 8%;
    padding-top: 18%;
     
  
      }
    }
  }
  


@media (max-width: 1300px) {
  .contact-content {
    grid-template-columns: 1fr;
    .contact-text {
      p {
        font-size: 18px !important;
      }
    }
    .contact-options-social {
      order: 2;
      margin-top: 0px;
      padding-left: 25%;
    }
    .socials-responsive {
      display: none;
    }

    .contact-options-form {
      width: 200%;
     

      h1 {
        font-size: 16px !important;
      }
      .content {
        width: 22px !important;
        height: 242px !important;
      }
    }
  }

  .socials {
    .content {
      width: 17% !important;
    }
  }
  .socials-icons {
    margin-left: -12%;
    margin-top: 0%;
    a:nth-child(1),
    a:nth-child(2),
    a:nth-child(3) {
      position: relative !important;
      top: 0px !important;
      left: 0px !important;
    }

    img {
      width: 50px !important;
      height: 50px !important;
      animation: none !important;
    }
  }
  .arrow .curve {
    height: 87px !important;
  }

  .arrow .point {
    left: 10px !important;
    top: 75px !important;
  }

  .content h1 {
    height: 200px !important;
    width: 270px;
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  section {
    min-height: 0;
    padding-top: 20px;
  }
  .contact-content {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 0 !important;
  }

  .contact-text{
    margin-left: 0;
    align-items: center;
  }
  .contact-options-form {
    width: 100% !important;
.contact-form{
  width: 50%;
}
  }

  .socials {
    display: none;
  }
  .socials-icons {
    display: none !important;
  }
}

@media (max-width: 650px) {
  section {
    padding-top: 20px;
    .contact-container{
      padding-left: 0;
    }
  }
  .label-left {
    width: 60%;
  }
  
  .contact-content {
    
    .contact-options-form {
      flex-direction: column;
      padding: 20px;

      .contact-form {
        width: 70%;
        padding: 15px;
        p {
          font-size: 16px;
         // margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  section{
   margin: 0 auto;
   width: 80%;
  }
 }
