<section id="contact" class="d-flex">
  <div class="label-container-right">
  <div class="label-left">
    <div class="line"></div>
    <span class="labels-span">{{ 'contact.title' | translate}}</span>
  </div>
</div>
  <div class="contact-container">
   
  </div>
  <div class="contact-content">
    <div class="contact-text">
      <p>
        <span #textAnimation>
         {{ 'contact.span' | translate}} <br /> {{ 'contact.p' | translate}}
        </span>
      </p>
      <p>{{ 'contact.cta' | translate}}</p>
    </div>
    <div class="socials-responsive"></div>
    <div class="contact-options-social">
      <div class="socials-area" >
        <div class="socials">
          <div class="content">
            <div class="arrow">
              <div class="curve"></div>
              <div class="point"></div>
            </div>
          </div>
          <div class="content">
            <h1>{{ 'contact.socials' | translate}}</h1>
          </div>
        </div>
        <div class="socials-icons">
          <a href="https://wa.me/15111786993" target="_blank"
            ><img src="assets/img/icons/whatsapp-icon.png"
          /></a>
         
          <a
            href="https://www.linkedin.com/in/alexandra-deaconu/"
            target="_blank"
            ><img src="assets/img/icons/linked-in-icon.png"
          /></a>
          <a href="https://github.com/aledeaconu" target="_blank"
            ><img src="assets/img/icons/github-icon.png"
          /></a>
        </div>
      </div>
    </div>
    
    <div class="contact-options-form" data-aos="fade-right">
      <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <p>{{ 'contact.form.title' | translate }}</p>
        <div class="flex">
          <mat-form-field>
            <mat-label>{{ 'contact.form.first_name' | translate }}</mat-label>
            <input matInput required name="firstName" [(ngModel)]="contactData.firstName"/>
           
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'contact.form.last_name' | translate }}</mat-label>
            <input matInput required name="lastName" [(ngModel)]="contactData.lastName" />
           
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" />
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.hasError('required')">{{"contact.form.required-error" | translate}}</span>
            <span *ngIf="email.hasError('email')">{{"contact.form.email-error" | translate}}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'contact.form.message' | translate }}</mat-label>
          <textarea matInput required name="message" [(ngModel)]="contactData.message"></textarea>
          
        </mat-form-field>
        <mat-checkbox [formControl]="privacyPolicy">
          <p>
            {{ "contact.form.policy.I've read the" | translate}}
            <a [routerLink]="['/legal-notice']">{{"contact.form.policy.privacy policy" | translate}}</a>
            {{"contact.form.policy.and agree to the processing of my data as outlined." | translate}}
          </p>
        </mat-checkbox>
        <div *ngIf="privacyPolicyError" class="privacy-error">
          <span>
            {{"contact.form.policy.Please check the" | translate}}
            <a [routerLink]="['/legal-notice']">{{"contact.form.policy.privacy policy" | translate}}</a> {{"contact.form.policy.agreement" | translate}}
          </span>
          
        </div>
        <button
          type="submit"
          class="btn"
          [disabled]="!contactForm.valid || !email.valid"
          [ngClass]="{'disabled-btn': !contactForm.valid || !email.valid || !privacyPolicy.valid}"
        >
         {{"contact.form.button" | translate}}
        </button>
      </form>
    </div>
  </div>
</section>
