header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.195);
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  top: 0;
  font-family: "playfair";

  section {
    margin: 0 auto;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    img {
      width: 5rem;
      height: auto;
      object-fit: contain;
      cursor: pointer;
    }
   
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      font-size: 1.25rem;
      white-space: nowrap;
      li {
        margin: 0 15px;
        a {
          position: relative;
          text-decoration: none;
          color: #17b4be;
          transition: color 0.3s ease;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: #0f94a2;
            transition: all 0.2s ease-in-out;
            font-weight: 300;
          }
          &::after {
            content: "01.";
            position: absolute;
            right: -1px;
            top: -12px;
            color: white;
            font-size: 0.81rem;
            opacity: 0.5;
          }
        }
        @media (max-width: 1000px) {
          margin: 0px 6px;
        }
      }
      li:nth-child(2) a::after {
        content: " 02.";
      }

      li:nth-child(3) a::after {
        content: " 03.";
      }
      li:nth-child(4) a::after {
        content: " 04.";
      }
      li:nth-child(5) a::after {
        content: " 05.";
      }
    }
  }
}

.nav__list a:not(.selected) {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.nav__list a.selected {
  font-weight: bold;
  opacity: 1;
}
.nav__languages {
  display: flex;
  gap: 0.7rem;
  justify-content: flex-start;

  .flag {
    width: 4vmin;
    height: 2vmin;
    border: 1px solid rgb(87, 84, 84);
    margin-right: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 1920px) {
  header {
    section {
      margin: 0 auto;
      width: 65%;
    }
    nav {
      img {
        width: 5rem;
        height: 2rem;
      }
    }
  }

  .nav__languages {
    .flag {
      width: 3rem;
      height: 2rem;
    }
  }
}
@media (max-width: 1920px) {
  .logo{
    padding-left: 1.5rem;
  
  }
}
