<footer class="footer">
    <div class="footer-left">
      <img src="/portfolio/browser/assets/img/[AD].png" alt="Logo">
      <h3>Alexandra Deaconu</h3>
      <p>Web Developer</p>
      <div class="legal-notice">
        <a href="./legal-notice">Legal Notice</a>
      </div>
    </div>
  
    <div class="footer-center">
      <h3>Quick Links</h3>
      <ul>
        <li><a (click)="scrollToAnchor('home')">Home</a></li>
        <li><a (click)="scrollToAnchor('about')">About</a></li>
        <li><a (click)="scrollToAnchor('projects')">Projects</a></li>
        <li><a (click)="scrollToAnchor('contact')">Contact</a></li>
      </ul>
      
    </div>
  
    <div class="footer-right">
      <h3>Contact Me</h3>
      <p>Email: alexandraa.deaconu&#64;gmail.com</p>
      <p>Phone: 0151 117 86 993</p>
      
    </div>
  </footer>
  