<footer class="footer">
  <div class="footer__items">

  
    <div class="footer-left">
   
      <h3>Alexandra Deaconu</h3>
      <p>{{"footer.role" | translate}}</p>
      <div class="socials-icons">
        <a href="https://wa.me/15111786993" target="_blank"><img src="assets/img/icons/whatsapp-icon.png" /></a>
        <a href="https://www.linkedin.com/in/alexandra-deaconu/" target="_blank"><img src="assets/img/icons/linked-in-icon.png" /></a>
        <a href="https://github.com/aledeaconu" target="_blank"><img src="assets/img/icons/github-icon.png" /></a>
      </div>
      <div class="legal-notice">
        <a href="./legal-notice">{{"footer.legal_notice" | translate}}</a>
      </div>
    </div>
  
    <div class="footer-center">
      <h3>{{"footer.quick_links.title" | translate}}</h3>
      <ul>
        <li><a (click)="scrollToAnchor('home')">// {{"footer.quick_links.home" | translate}}</a></li>
        <li><a (click)="scrollToAnchor('about')">// {{"footer.quick_links.about" | translate}}</a></li>
        <li><a (click)="scrollToAnchor('projects')">// {{"footer.quick_links.projects" | translate}}</a></li>
        <li><a (click)="scrollToAnchor('contact')">// {{"footer.quick_links.contact" | translate}}</a></li>
      </ul>
      
    </div>
  
    <div class="footer-right">
      <h3>{{"footer.contact_me" | translate}}</h3>
      <p>Email: <a href="mailto:contact@alexandra-deaconu.com">contact&#64;alexandra-deaconu.com</a>
        </p>
      
    </div>
  </div>
  </footer>
  