div{
    background-color: orange;
    width: 60px;
    height: 20px;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    color: blue;
    width: 200%;
}
