section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 55px;
}

.projects-label{
  font-size: 22px;
    display: flex;

    width: 36%;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    left: 23%;
 
}

.projects-message{
  margin-top: 10px;
  font-size: 24px;
  color: #555;
 
}

.porjects-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 24px;
  

  .project{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 86%;
    height: 179px;
  
  h1{
    color: rgb(11, 180, 190);
    font-family: "Titillium";
    text-transform: uppercase;
    margin-bottom: -10px;
  }
  span{
    font-size: 16px;
    font-family: "Titillium";
    margin-bottom: 20px;
  }
  }
  img{
    width: 23vw;
    height: 82%;
    border-radius: 25px;
  }
  .project-description{
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
    p{
      margin-top: 25px;
    }
  }

}
