section {
  color: white;
  margin-bottom: 100px;
  
  h1 {
    display: flex;
    justify-content: center;
    
  }
  .projects-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-container {
    position: relative;
    width: 40%;
    height: 30vh;
    margin: 20px;
    display: flex;
    border: 2px solid #fff; // Border around the image container
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .overlay {
    position: absolute;
    display: flex;
    border: 2px solid white;
    width: 100%;
    height: 33px;
    align-items: center;
    gap: 15px;
    top: -17%;

    .box {
      border: 1px solid white;
      width: 20px;
      height: 20px;
    }
  }
}


.svg-container {
    margin: 20px 0;
    svg {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
  }