<section id="projects" >
  <div class="projects-label" >
    <div class="labels">
      <span class="labels-span"> Projects</span>
      <div class="line"></div>
    </div>
    <div class="projects-message">
      <p>Browse Through My Creations</p>
    </div>
  </div>

  <div class="porjects-area">
    <div class="project">
      <img src="../../../assets/img/pollo_locco.png" />

      <div class="project-description" >
        <h1>Pollo Loco</h1>
        <span>JavaScript | HTML | CSS</span>
        <p>
          Jump, run and throw game based on object-oriented approach. Help Pepe
          to find coins and tabasco salsa to fight against the crazy hen.
        </p>
      </div>
    </div>

    <div class="project">
      <div class="project-description">
        <h1>Ring Of Fire</h1>
        <span>Angular | Typescript | Firebase</span>
        <p>
          Dive into this exciting multiplayer drinking game. Draw a card and
          follow the fun instructions to keep the party going.
        </p>
      </div>
      <img src="../../../assets/img/ring_of_fire.png" />
    </div>

    <div class="project">
      <img src="../../../assets/img/join.png" />
      <div class="project-description">
        <h1>Join</h1>
        <span>JavaScript | HTML | CSS</span>
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
      </div>
    </div>
  </div>
</section>
