<section id="projects">
  <div class="projects-label">
    <div class="labels">
      <span class="labels-span"> Projects</span>
      <div class="line"></div>
    </div>
    <div class="projects-message">
      <p>Browse Through My Creations</p>
    </div>
  </div>

  <div class="projects-content">
    <div class="projects-area">
      <div
        class="project"
        *ngFor="let project of projects; let i = index"
        [ngClass]="{
          left: i % 2 === 0,
          right: i % 2 !== 0  
        }"
        [attr.data-index]="i"
       
      >
        <a
          [href]="project.url"
          target="_blank"
          (click)="navigateToLink($event, project.url)"
        >
          <video
            [ngClass]="{
              move: project.isDragged,
              video: true,
              'small-video': i === 1
            }"
            #video
            class="video"
            [id]="'video_' + i"
            [src]="project.src"
            preload="metadata"
            playsInline
            autoplay
            muted
            loop
          ></video>
        </a>
        <div
          class="project-description"
          [ngClass]="{ show: project.isDragged }"
        >
          <h1>{{ project.title }}</h1>
          <span>{{ project.tech }}</span>

          <p class="full-description" [ngClass]="{ show: project.isDragged }">
            <span *ngIf="i === 1 && isSmallScreen">{{
              project.shortDescription
            }}</span>
            <span *ngIf="!(i === 1 && isSmallScreen)">{{
              project.description
            }}</span>
          </p>
          <a [href]="project.url" target="_blank">
            <button class="btn live-test-btn">Live test</button>
          </a>

          <div
            class="drag-description"
            (click)="dragDescription(i)"
            ontouchstart="dragDescription(i)"
          >
            <span *ngIf="!project.isDragged">expand description</span>

            <hr />
            <div
              class="description-circle"
              [ngClass]="{ move: project.isDragged }"
            ></div>
          </div>
          <div class="git-text">
            <a
              target="_blank"
              [href]="project.gitLink"
              class="git-btn"
              [ngClass]="{ show: project.gitHubShow }"
              >Github code</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
