<section id="about">
  <div class="personal-infos">
    <div class="labels">
      <span class="labels-span"> About me </span>
      <div class="line"></div>
    </div>
    <p>
      My name is Alexandra Deaconu, and I'm a passionate front-end web developer
      originally from Romania, now based in Berlin. I am eager to embark on new
      and exciting projects, always striving to deliver my best work. My goal is
      to contribute significantly to the success of the organizations I
      collaborate with, ensuring mutual growth and prosperity.
    </p>
    <p>If you think I’d be a good match for your projects, contact me!</p>

    <div
      class="cv-container"
      [ngClass]="{ 'open-cv': cvOpened }"
      (click)="toggleCV()"
    >
      <a href="./../../../assets/img/Alexandra's-Resume.jpg" target="_blank">
        <img
          src="./../../../assets/img/Alexandra's-Resume.jpg"
          class="cv-image"
        />
      </a>
    </div>
  </div>

  <div class="skills">
    <div class="label-left">
      <div class="line"></div>
      <span>Skills</span>
    </div>
    <div class="skills-icons">
      <div>
        <img src="../../../assets/img/skills-icons/Property 1=Typescript.png" />
        <p>Typescript</p>
      </div>
      <div>
        <img src="../../../assets/img/skills-icons/Property 1=Angular.png" />
        <p>Angular</p>
      </div>
      <div>
        <img src="../../../assets/img/skills-icons/Property 1=Api.png" />
        <p>API</p>
      </div>

      <div>
        <img src="../../../assets/img/skills-icons/Property 1=Git.png" />
        <p>Git</p>
      </div>

      <div>
        <img src="../../../assets/img/skills-icons/Property 1=html.png" />
        <p>HTML</p>
      </div>

      <div>
        <img src="../../../assets/img/skills-icons/Property 1=css.png" />
        <p>CSS</p>
      </div>

      <div>
        <img src="../../../assets/img/skills-icons/Property 1=JavScript.png" />
        <p>JavaScript</p>
      </div>

      <div>
        <img src="../../../assets/img/skills-icons/Property 1=mat des.png" />
        <p>Wordpress</p>
      </div>
      <div>
        <img src="../../../assets/img/skills-icons/Property 1=Scrum.png" />
        <p>Scrum</p>
      </div>
      <div>
        <img src="../../../assets/img/skills-icons/Property 1=Firebase.png" />
        <p>Firebase</p>
      </div>
    </div>
  </div>
</section>
