<section id="home">
  <div class="background-shapes">
    <img src="assets/img/code-shape.png" class="shape shape1" alt="shape" />
    <img src="assets/img/code-shape.png" class="shape shape2" alt="shape" />
  </div>
  <div class="greeting-section">
    <div class="text-area">
      <h1 class="welcome-text">Hello World</h1>
      <span class="name-text" style="color: white">{{ 'home.name_text' | translate}} </span>
      <span class="name-text">Alexandra</span>

      <div class="cycling-letters-container">
        <div class="cycling-letter-container">
          <div class="role-text-container">
            <span class="role-text"> {{ 'home.role' | translate}}</span>
          </div>
          <ng-container *ngFor="let word of cyclingWords; let i = index">
            <span
              class="cycling-letter"
              *ngIf="currentWordIndex === i"
              [class.active]="currentWordIndex === i"
            >
              {{ 'home.cyclingWords_' + (currentWordIndex + 1)| translate }}
            </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="personal-pic-area">
      <img class="personal-pic" src="assets/img/file.png" />
    </div>
  </div>

  <div class="buttons-section">
    <button class="btn" (click)="scrollToAnchor('about')">{{ 'home.learn_more_button' | translate}}</button>
    <button class="btn" (click)="scrollToAnchor('projects')">{{ 'home.my_work_button' | translate}}</button>
  </div>
  <img class="separator" src="assets/img/html code.png" />
</section>
