<section id="home">
  <div class="background-shapes" >
    <img src="./assets/img/code-shape.png" class="shape shape1" alt="shape">
   
    <img src="./assets/img/code-shape.png" class="shape shape2" alt="shape">
  </div>
  <div class="greeting-section" >
    <div class="text-area">
      <h1 class="welcome-text">Hello World</h1>
      <span class="name-text">I'm Alexandra</span>
      <h2 class="role-text">Creative Frontend Developer</h2>
      <div class="vertical-container">
        <span class="vertical-text">Innovator</span>
      </div>
    </div>
    <div class="personal-pic-area">
      <img class="personal-pic" src="./assets/img/me-pic.png"  />
    </div>
  </div>

  <div class="buttons-section">
    <button class="btn" (click)="scrollToAnchor('about')">Learn More</button>
    <button class="btn" (click)="scrollToAnchor('projects')">My Work</button>
  </div>
</section>