section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.shape1 {
  top: 10%;
  left: 10%;
  width: 200px;
}

.shape2 {
  top: 50%;
  right: 15%;
  width: 150px;
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 35%;
  margin-bottom: 50px;
}

.text-area {
  position: relative;
  text-align: left;
  width: 100%;
  min-width: 100%;
  
}

h1{
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
  font-family: "libre";
}

.welcome-text {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: bold;
  animation: slideInLeft 1.5s ease-in-out;
}

.name-text {
  position: relative;
  font-size: 36px;
  color: #17b4b2;
 // animation: slideInLeft 1.8s ease-in-out;
  font-family: "Libre";
}

.cycling-letters-container {
  display: flex;
  align-items: center;
  

  .cycling-letter {
    font-size: 12px;
    font-weight: bold;
    
    text-shadow: 1px 1px 2px #17b4b2;
 

    &.active {
      opacity: 0.8;
    }
  
  }
  
  .role-text-container {
    
    .role-text {
      color: #17b4b2;
      font-family: "Libre";
      font-size: 18px;
      text-transform: uppercase;
      
     
    }
  }
}

.personal-pic-area {
  width: 100%;
  position: relative;
  z-index: 9;

  img {
    width: 500px;
    height: 500px;
    border-radius: 33%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    animation: zoomIn 2.5s ease-in-out;
    filter: brightness(1.3);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.buttons-section {
  display: flex;
  gap: 76px;
  margin-top: 85px;
  animation: fadeIn 3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.separator {
  opacity: 0.2;
  position: absolute;
  top: 75%;
  left: 3%;
  z-index: -1;
  width: 40vw;
}

/* Responsive Styles */
@media (max-width: 1300px) {
  .separator {
    width: 55vw;
  }
}

@media (max-width: 1000px) {
  .greeting-section {
    flex-direction: column;
    width: 58%;
    margin-top: 60px;
    margin-bottom: 10px;

    img {
      width: 300px;
      height: 300px;
      margin-top: 25px;
    }
  }

  .separator {
    width: 60vw;
  }
}

@media (max-width: 650px) {
  section {
    min-height: 100vh;
  }

  .welcome-text {
    font-size: 29px;
  }

  .name-text {
    font-size: 26px;
  }

  .role-text {
    font-size: 12px;
  }

  .buttons-section {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  .separator {
    top: 85%;
    width: 80vw;
  }
}
