section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  margin-top: 50px;
}

.shape1 {
  top: 10%;
  left: 10%;
  width: 15vw;
}

.shape2 {
  top: 50%;
  right: 15%;
  width: 10vw;
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45%;
  margin-bottom: 50px;
}

.text-area {
  position: relative;
  text-align: left;
  width: 100%;
  min-width: 100%;
  
}

h1{
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
  font-family: "libre";
}

.welcome-text {
  font-size: clamp(2rem, 1rem + 10vw, 4rem);
  margin-bottom: 30px;
  font-weight: bold;
  animation: slideInLeft 1.5s ease-in-out;
}

.name-text {
  position: relative;
  font-size: 56px;
  color: #17b4b2;
  font-family: "Libre";
}

.cycling-letters-container {
  display: flex;
  align-items: center;
  

  .cycling-letter {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #17b4b2;
 

    &.active {
      opacity: 0.8;
    }
  
  }
  
  .role-text-container {
    
    .role-text {
      color: #17b4b2;
      font-family: "Libre";
      font-size: 28px;
      text-transform: uppercase;
      
     
    }
  }
}

.personal-pic-area {
  position: relative;
  z-index: 9;

  img {
    width: 300px;
    height: 300px;
    border-radius: 33%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    animation: zoomIn 1.5s ease-in-out;
    

    &:hover {
      transform: scale(1.1);
    }
  }
}

.buttons-section {
  display: flex;
  gap: 76px;
  margin-top: 85px;
  animation: fadeIn 3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.separator {
  opacity: 0.5;
  position: absolute;
  top: 75%;
  left: 3%;
  z-index: -1;
  width: 40vw;
}

/* Responsive Styles */

@media (min-width: 2500px) {
 
  .greeting-section{
    margin-bottom: 1.5vw;
    .text-area{
      line-height: 1vw;
      .name-text{
        font-size: 2.5vw 
      }
      .welcome-text{
        font-size: 3vw;
        margin-bottom: 2.5vw;
       
      }
      
      .role-text{
        font-size: 1.3vw;
      }
      p{
        font-size: 80px !important;
      }
    }
    img{
      width: 15vw;
      height: auto;
    }
    
    .cycling-letter{
      font-size: 0.8vw;
    }
  }
}



@media (max-width: 1000px) {
  .greeting-section {
    flex-direction: column;
    width: 70%;
    margin-top: 60px;
    margin-bottom: 10px;

    img {
      width: 200px;
      height: 200px;
      margin-top: 25px;
    }
  }


}

@media (max-width: 650px) {

  .welcome-text {
    font-size: 35px;
  }

  .name-text {
    font-size: 32px;
  }

  .role-text {
    font-size: 16px !important;
  }

  .buttons-section {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  .separator {
    top: 85%;
    width: 80vw;
  }
}
