.main-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //max-width: 1920px;
}
.cursor-dot {
  width: 0.4rem;
  height: 0.8rem;
  background-color: #17b4b2;
}
.cursor-outline {
  width: 1.5rem;
  height: 2rem;
  border: 0.01vw solid white;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: -19px;
  left: -19px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 99999;
  pointer-events: none;
}

@media (min-width: 1920px) {
  .main-component {
    margin: 0 auto;
    width: 65%;
  }
  
}

@media (max-width: 430px) {
  .main-component {
    margin-left: 25px;
    margin-right: 25px;
  }
  .cursor-dot,
  .cursor-outline {
    display: none ;
  }
}
