header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.195);
  width: 100vw;
  z-index: 99;
  background-color: rgb(0, 0, 0);
  top: 0;
  font-family: "Libre";
  overflow: hidden ;
}

.mobile-menu {
  position: fixed;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  
  &.open ._shape_1 {
   animation: transform_shape1 0.2s ease-in-out forwards
  
  }
  &.open ._shape_2 {
    animation: transform_shape2 0.2s ease-in-out forwards

  }
  &:not(.open) ._shape_1{
    animation: reverse_transform_shape1 0.2s ease-in-out forwards
  }
  &:not(.open) ._shape_2{
    animation: reverse_transform_shape2 0.2s ease-in-out forwards
  }

  @keyframes transform_shape1 {
    0%{
      transform: rotate(0deg);
    } 
    100%{
      transform: rotate(-45deg) translate(4px, 5px);
    }
  }
  @keyframes transform_shape2{
    0%{
      transform: rotate(0deg);
    } 
    100%{
      transform: rotate(45deg) translate(0px, -10px);
    }
  }

  @keyframes reverse_transform_shape1 {
    0%{
      transform: rotate(-45deg) translate(4px, 5px);
    } 
    100%{
      transform: rotate(0deg);
    }
  }
  @keyframes reverse_transform_shape2{
    0%{
      transform: rotate(45deg) translate(0px, -10px);
      
    } 
    100%{
      transform: rotate(0deg);
    }
  }
  
  ._shape_1,
  ._shape_2 {
    width: 20px;
    margin: 7px;
    display: block;
    height: 1px;
    background-color: white;
    opacity: 1;
    z-index: 999;
  }
}

.mobile-navigation {
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  right: 0;
  z-index: 9;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: normal;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }


  .menu {
    height: 90vh;
    display: flex;
    width: 100%;
    animation: slideInRight 0.2s ease-in-out;

    ul {
      padding: 0%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        margin: 9px 3px;
        list-style: none;

        a {
          position: relative;
          text-decoration: none;
          color: #17b4be;
          transition: color 0.3s ease;
          font-weight: 500;
          cursor: pointer;
          font-size: 16px;

          &:hover {
            color: #0F94A2;
            transition: all 0.2s ease-in-out;
            font-weight: 300;
          }

          &::after {
            content: attr(data-index);
            position: absolute;
            right: 0px;
            top: -11px;
            color: white;
            font-size: 10px;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

li:nth-child(2) a::after {
  content: "02.";
}

li:nth-child(3) a::after {
  content: "03.";
}

li:nth-child(4) a::after {
  content: "04.";
}

li:nth-child(5) a::after {
  content: "05.";
}

button {
  background-color: transparent;
  border: none;
  color: white;
  opacity: 0.5;
  font-size: 17px;
  cursor: pointer;
  padding-right: 30px;
}

.copyright {
  opacity: 0.2;
  font-size: 12px;
  margin-bottom: 1rem;
  font-family: "playfair";
  width: 100%;

  a {
    text-decoration: none;
    color: #17b4be;
    

    &:hover {
      color: rgb(131, 203, 255);
      opacity: 0.5;
    }
  }
}

.d-none {
  display: none;
}

.menu a:not(.selected) {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.menu a.selected {
  font-weight: bold;
  opacity: 1;
}

.no-background {
  background-color: transparent;
}

.background-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.background-overlay.show {
  display: block;
  z-index: 1;
}
.languages{
  display: flex;
  gap: 2px;
  width: 100%;
 // position: absolute;
  justify-content: flex-start;
  margin-right: 2%;
  margin-bottom: 3%;
  .flag{
    width: 30px;
    height: 15px;
    border: 1px solid rgb(87, 84, 84);
    margin-right: 5px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  
  }
  @media (max-width: 450px) {
    .mobile-navigation{
      width: 40%;
    }
  }
  @media (max-width: 380px) {
    .mobile-navigation{
      padding: 0 10px;
    
      .menu{
        margin-top: 2rem;
      }
    }  
  }