html {
  overflow-x: hidden !important;
}

body {
  background-color: black;
  margin: 0;
  font-family: "Libre";
  color: white;
  overflow-x: hidden;
  scrollbar-width: thin;
  cursor: none;
}
section {
  max-width: 1920px;
  position: relative;

}
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #17b4b2;
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid white;
}
.cursor-dot,
.cursor-outline {
  position: fixed;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 99;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #17b4b2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f94a2;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

/* Font Faces */
@font-face {
  font-family: "Heartbit";
  src: url(/assets/fonts/Heartbit-Bold.otf);
}
@font-face {
  font-family: "Playfair";
  src: url(/assets/fonts/PlayfairDisplay-SemiBold.ttf);
}
@font-face {
  font-family: "Libre";
  src: url(/assets/fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: "Patra";
  src: url(/assets/fonts/Prata-Regular.ttf);
}

/* General Styles */
.d-flex {
  display: flex;
  flex-direction: column;
}
p {
  font-family: "Libre";
  font-size: 1.13rem;
  line-height: normal;
}
span {
  font-family: "Libre";
  line-height: normal;
}
.btn {
  font-family: "Libre";
  font-size: 1rem;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #386b70, #17b4b2);
  color: white;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 20px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

/* Labels */
.label-container-left {
  display: flex;
  justify-content: flex-end;
}
.label-container-right {
  display: flex;
  justify-content: flex-start;
}
.labels {
  font-size: 1.88rem;
  margin-bottom: 1rem;
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  font-family: "Patra";
  text-transform: uppercase;
  letter-spacing: 2px;

  .labels-span {
    flex-shrink: 0;
    padding-right: 20px;
  }
}

.label-left {
  font-size: 1.88rem;
  margin-bottom: 1rem;
  position: relative;
  width: 27%;
  display: flex;
  align-items: center;
  font-family: "Patra";
  text-transform: uppercase;
  letter-spacing: 2px;
  gap: 20px;
}

.line {
  height: 5px;
  background-color: rgb(11, 180, 190);
  width: 100px;
  flex-grow: 1;
}

/* Background Shapes */
.background-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shape {
  position: absolute;
  opacity: 0.2;
  animation: float 6s ease-in-out infinite;
  z-index: -1;
}

/* Icons */

.icons-container {
  position: absolute;
  top: 85%;
  width: 150%;
  max-width: 100%;
  height: 334vh;
  z-index: -9;
  overflow: hidden;
}

.icons {
  position: absolute;
  opacity: 0.08;

  &:nth-child(1) {
    top: 13%;
    left: 40%;
  }

  &:nth-child(2) {
    top: 25%;
    left: 0%;
  }

  &:nth-child(3) {
    top: 40%;
    left: 70%;
  }

  &:nth-child(4) {
    top: 50%;
    left: 20%;
  }
  &:nth-child(5) {
    top: 65%;
    left: 0%;
  }
  &:nth-child(6) {
    top: 70%;
    left: 80%;
  }
  &:nth-child(7) {
    top: 80%;
    left: 0%;
  }

  img {
    width: 30vw;
    animation: float 2s ease-in-out infinite;
    object-fit: fill;
  }
}

.text-animation {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, white 20%, #f0f0f0 40%, #17b4be);

  animation: scroll-reveal 3s linear forwards;
}
@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive Styles */

@media (max-width: 1050px) {
  p {
    font-size: 18px;
  }

  .labels {
    font-size: 25px;
  }
  .label-left {
    font-size: 25px;
    width: 30% !important;
  }

  .projects-label,
  .personal-infos {
    width: 72%;
    left: 50px;
    //  font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .hide-desktop {
    display: none !important;
  }
}
@media (max-width: 650px) {
  .labels{
    width: 65%;
  }
  .label-left {
    width: 45% !important;
  }
}
@media (min-width: 400px) {
  html {
    overflow-x: hidden !important;
  }
  .label-left {
    //  margin-bottom: 32px;
  }
}
